/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~bootstrap/scss/bootstrap.scss';

.error-border {
	border: 2px solid #f44336;
}

.success-border {
	border: 2px solid #4caf50;
}

ul {
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}

.question-circle {
	display: block;
	background: #4444ff;
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	cursor: pointer;
}

.operator {
	padding: 0 0.2rem;
}

button {
	font-size: 1.5rem;
	font-weight: 700 !important;
}

*:focus {
	outline: none !important;
}

main {
	height: 100vh;
}
